<!-- EN ESTE DOCUMENTO NO FUNCIONA POR AHORA LA VALIDACION--> 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña olvidada</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" href="img/icon.jpg">
</head>
<body>
    <section class="form-main">
        <div class="form-content">
            
            <h3>Contraseña olvidada</h3>
            <form method="post" action="">
                <div class="input-box">
                    <input type="email" placeholder="Email" class="input-control" name="Email" id='Email'>
                </div>
                <button type="submit" class="btn">Enviar enlace</button>
            </form>
            <p>¿No tienes una cuenta? <a href="signup.html" class="gradient-text"> Crear cuenta</a></p>
        </div>

    </section>

    <div id="error"></div>


    <script src="app.js"></script>
</body>
</html>